<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files</title>
</head>
<body>
    <h2>Uploaded Documents</h2>
    <ul>
        {% for doc in documents %}
            <li>
                {{ doc.title }} - 
                <a href="{{ doc.uploaded_file.url }}" target="_blank">Download/View File</a>
            </li>
        {% empty %}
            <li>No documents uploaded yet.</li>
        {% endfor %}
    </ul>
    <hr>
    {% comment %} <a href="{% url 'upload_file' %}">Upload another file</a> {% endcomment %}
</body>
</html>